In [2]:
# Load necessary packages

import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

# from google.colab import files

%matplotlib inline

In [3]:
# uploaded = files.upload()

In [4]:
# Read data and present

train = pd.read_csv('trainingData.csv')
valid = pd.read_csv('validationData.csv')
train.head()

,deck,nofGames,nOfPlayers,winRate
0,archers;arrows;baby-dragon;balloon;bats;fireba...,44,2,0.58511
1,archers;arrows;baby-dragon;balloon;bomber;free...,143,3,0.53767
2,archers;arrows;baby-dragon;balloon;bomber;gian...,61,3,0.34375
3,archers;arrows;baby-dragon;balloon;cannon;free...,162,1,0.49394
4,archers;arrows;baby-dragon;balloon;electro-wiz...,57,1,0.55833

In [5]:
valid.head()

,deck,nofGames,nOfPlayers,winRate
0,archers;arrows;baby-dragon;bandit;elixir-colle...,130,32,0.48496
1,archers;arrows;baby-dragon;elixir-collector;go...,495,75,0.47289
2,archers;arrows;baby-dragon;golem;lightning;meg...,271,25,0.52372
3,archers;arrows;baby-dragon;golem;lightning;meg...,125,20,0.58594
4,archers;arrows;balloon;barbarians;fireball;gia...,130,23,0.50000

In [6]:
# Helper functions to preprocess data to bag-of-cards format

def unnest(df, col):
    unnested = (df.apply(lambda x: pd.Series(x[col]), axis=1)
                .stack()
                .reset_index(level=1, drop=True))
    unnested.name = col
    return df.drop(col, axis=1).join(unnested)

def to_bag_of_cards(df):
    df['ind'] = np.arange(df.shape[0]) + 1
    df_orig = df.copy()
    df['deck'] = df['deck'].apply(lambda d: d.split(';'))
    df = unnest(df, 'deck')
    df['value'] = 1
    df_bag = df.pivot(index='ind', columns='deck', values='value')
    df_bag[df_bag.isna()] = 0
    df_bag = df_bag.astype('int')
    return pd.concat([df_orig.set_index('ind'), df_bag], axis=1)

In [7]:
train = to_bag_of_cards(train)
valid = to_bag_of_cards(valid)
train.head()
train

,deck,nofGames,nOfPlayers,winRate,archers,arrows,baby-dragon,balloon,bandit,barbarian-barrel,...,the-log,three-musketeers,tombstone,tornado,valkyrie,witch,wizard,x-bow,zap,zappies
ind,,,,,,,,,,,,,,,,,,,,,
1,archers;arrows;baby-dragon;balloon;bats;fireba...,44,2,0.58511,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,archers;arrows;baby-dragon;balloon;bomber;free...,143,3,0.53767,1,1,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,archers;arrows;baby-dragon;balloon;bomber;gian...,61,3,0.34375,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,archers;arrows;baby-dragon;balloon;cannon;free...,162,1,0.49394,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,archers;arrows;baby-dragon;balloon;electro-wiz...,57,1,0.55833,1,1,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
6,archers;arrows;baby-dragon;balloon;elite-barba...,68,1,0.47183,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,archers;arrows;baby-dragon;balloon;fire-spirit...,42,2,0.47778,1,1,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
8,archers;arrows;baby-dragon;balloon;fireball;la...,27,1,0.51667,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,archers;arrows;baby-dragon;balloon;freeze;ice-...,303,1,0.57353,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,archers;arrows;baby-dragon;balloon;goblin-gang...,24,2,0.57407,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11,archers;arrows;baby-dragon;balloon;goblins;kni...,55,1,0.47414,1,1,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
12,archers;arrows;baby-dragon;balloon;ice-spirit;...,169,2,0.52907,1,1,1,1,0,0,...,0,0,0,0,1,0,0,0,1,0
13,archers;arrows;baby-dragon;balloon;inferno-tow...,112,1,0.54783,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14,archers;arrows;baby-dragon;balloon;lava-hound;...,242,1,0.51633,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15,archers;arrows;baby-dragon;bandit;battle-ram;d...,69,1,0.59028,1,1,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
16,archers;arrows;baby-dragon;bandit;elixir-colle...,222,26,0.52222,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
17,archers;arrows;baby-dragon;barbarian-hut;gobli...,66,1,0.53623,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,archers;arrows;baby-dragon;barbarians;bats;bom...,137,1,0.49286,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,archers;arrows;baby-dragon;barbarians;bats;gia...,60,1,0.48413,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,archers;arrows;baby-dragon;barbarians;bats;hog...,26,1,0.43103,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,archers;arrows;baby-dragon;barbarians;elite-ba...,181,1,0.48370,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,archers;arrows;baby-dragon;barbarians;elite-ba...,42,2,0.42222,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,archers;arrows;baby-dragon;barbarians;fireball...,280,5,0.49647,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,archers;arrows;baby-dragon;barbarians;fireball...,41,1,0.51136,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,archers;arrows;baby-dragon;barbarians;fireball...,17,2,0.52500,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26,archers;arrows;baby-dragon;barbarians;fireball...,124,3,0.53937,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,archers;arrows;baby-dragon;barbarians;fireball...,37,1,0.56250,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,archers;arrows;baby-dragon;barbarians;fireball...,219,5,0.51351,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,archers;arrows;baby-dragon;barbarians;freeze;f...,67,1,0.52143,1,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
30,archers;arrows;baby-dragon;barbarians;giant-sk...,245,1,0.48589,1,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99971,minion-horde;pekka;rage;skeleton-army;valkyrie...,33,13,0.48611,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,1,0
99972,minion-horde;pekka;rage;tesla;three-musketeers...,20,2,0.58696,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
99973,minion-horde;pekka;royal-giant;skeleton-army;t...,30,1,0.62121,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
99974,minion-horde;prince;princess;rocket;royal-gian...,174,1,0.50000,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
99975,minion-horde;prince;princess;rocket;skeleton-a...,80,5,0.40964,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,0
99976,minion-horde;prince;princess;skeleton-army;tes...,56,3,0.52542,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
99977,minion-horde;prince;rage;rocket;skeleton-army;...,165,1,0.48512,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
99978,minion-horde;prince;rage;rocket;skeleton-army;...,103,3,0.50472,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
99979,minion-horde;prince;rage;rocket;skeleton-army;...,255,31,0.47287,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,0
99980,minion-horde;prince;rage;skeleton-army;the-log...,67,15,0.51429,0,0,0,0,0,0,...,1,0,0,0,1,1,1,0,0,0
99981,minion-horde;prince;rocket;skeleton-army;spark...,125,2,0.49219,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,0
99982,minion-horde;prince;royal-hogs;skeleton-army;v...,108,1,0.47748,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,1,0
99983,minion-horde;princess;rage;the-log;three-muske...,77,1,0.41875,0,0,0,0,0,0,...,1,1,1,0,0,0,1,0,1,0
99984,minion-horde;rage;rocket;skeleton-army;the-log...,61,3,0.53125,0,0,0,0,0,0,...,1,0,0,0,1,1,1,0,0,0
99985,minion-horde;rage;rocket;skeleton-army;three-m...,36,1,0.57692,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,1,0
99986,minions;mini-pekka;musketeer;prince;skeleton-a...,70,2,0.55479,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
99987,minions;mini-pekka;musketeer;princess;royal-gi...,140,3,0.48601,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
99988,minions;mini-pekka;musketeer;princess;tesla;va...,72,2,0.34667,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,1,0
99989,minions;mini-pekka;pekka;poison;rage;rascals;w...,29,1,0.35938,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
99990,minions;mini-pekka;pekka;prince;princess;spark...,37,1,0.45000,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
99991,minions;mini-pekka;pekka;princess;skeleton-arm...,70,4,0.48630,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0
99992,minions;musketeer;princess;royal-giant;spear-g...,71,1,0.47973,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,1,0
99993,minions;pekka;princess;royal-ghost;tesla;the-l...,87,1,0.43333,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,1,0
99994,minions;poison;rascals;royal-giant;the-log;tor...,216,1,0.51826,0,0,0,0,0,0,...,1,0,0,1,1,0,1,0,0,0
99995,minions;prince;rage;rocket;skeleton-army;the-l...,91,2,0.49468,0,0,0,0,0,0,...,1,0,0,0,1,0,1,0,0,0
99996,mirror;musketeer;prince;rage;rocket;skeleton-a...,83,2,0.47093,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
99997,mirror;prince;rage;the-log;valkyrie;witch;wiza...,55,2,0.54310,0,0,0,0,0,0,...,1,0,0,0,1,1,1,0,1,0
99998,night-witch;pekka;rage;rocket;tornado;witch;wi...,159,3,0.50617,0,0,0,0,0,0,...,0,0,0,1,0,1,1,0,1,0
99999,pekka;princess;rage;skeleton-army;valkyrie;wit...,66,2,0.44928,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,1,0
100000,pekka;rage;royal-ghost;skeleton-army;spear-gob...,84,2,0.48276,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,1,0

In [8]:
valid.head()

,deck,nofGames,nOfPlayers,winRate,archers,arrows,baby-dragon,balloon,bandit,barbarian-barrel,...,the-log,three-musketeers,tombstone,tornado,valkyrie,witch,wizard,x-bow,zap,zappies
ind,,,,,,,,,,,,,,,,,,,,,
1,archers;arrows;baby-dragon;bandit;elixir-colle...,130,32,0.48496,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,archers;arrows;baby-dragon;elixir-collector;go...,495,75,0.47289,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,archers;arrows;baby-dragon;golem;lightning;meg...,271,25,0.52372,1,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,archers;arrows;baby-dragon;golem;lightning;meg...,125,20,0.58594,1,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,archers;arrows;balloon;barbarians;fireball;gia...,130,23,0.50000,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
# Sort data by number of games played

train = train.sort_values('nofGames', ascending=False)
valid = valid.sort_values('nofGames', ascending=False)

In [10]:
# Specify example model fitting function and R squared metric

from sklearn.svm import SVR

def R2(x, y):
    return 1 - np.sum(np.square(x - y)) / np.sum(np.square(y - np.mean(y)))

def fit_svm(data):
    svr = SVR(kernel='rbf', gamma=1.0/90, C=1.0, epsilon=0.02, shrinking=False)
    svr.fit(data.drop(['deck', 'nofGames', 'nOfPlayers', 'winRate'], axis=1), data['winRate'])
    return svr

sizes = (np.arange(10) + 6) * 100

In [11]:
# Fit and predict on models of various training sizes

fit_list = list(map(lambda size: fit_svm(train.iloc[:size]), sizes))
pred_list = list(map(lambda fit: fit.predict(valid.drop(['deck', 'nofGames', 'nOfPlayers', 'winRate'], axis=1)),
                     fit_list))

In [12]:
from sklearn.svm import NuSVR

nuSVM = NuSVR(kernel='rbf', gamma=1.0/90, C=1.0, nu=0.01, shrinking=False)
nuSVM.fit(train.drop(['deck', 'nofGames', 'nOfPlayers', 'winRate'], axis=1), train['winRate'], sample_weight=train['nofGames']/np.max(train['nofGames']))
preds = nuSVM.predict(valid.drop(['deck', 'nofGames', 'nOfPlayers', 'winRate'], axis=1))
print(R2(preds, valid['winRate']))
print(len(nuSVM.support_))

train2 = train.loc[nuSVM.support_]
nuSVM2 = NuSVR(kernel='rbf', gamma=1.0/90, C=1.0, nu=0.01, shrinking=False)
nuSVM2.fit(train2.drop(['deck', 'nofGames', 'nOfPlayers', 'winRate'], axis=1), train2['winRate'], sample_weight=train2['nofGames']/np.max(train2['nofGames']))
preds2 = nuSVM2.predict(valid.drop(['deck', 'nofGames', 'nOfPlayers', 'winRate'], axis=1))
print(R2(preds2, valid['winRate']))
print(len(nuSVM2.support_))

KeyboardInterrupt:

In [ ]:
np.max(train['nofGames']/np.max(train['nofGames']))

In [ ]:
# Calculate R squared scores

r2 = list(map(lambda p: R2(p, valid['winRate']), pred_list))
r2

In [ ]:
_ = plt.plot(sizes, r2)

In [ ]:
np.mean(r2)

In [ ]:
# Save hyperparameteres and selected indices in submission format

with open('example_sub_python.txt', 'a') as f:
    for size in sizes:
        ind_text = ','.join(list(map(str, train.index.values[:size])))
        text = ';'.join(['0.02', '1.0', str(1.0 / 90), ind_text])
        f.write(text + '\n')

In [13]:

wintrain = train.sort_values(["nofGames","winRate"], ascending=False)
winvalid = valid.sort_values(["nofGames","winRate"], ascending=False)

In [ ]:
wintrain["differ"]= wintrain["winRate"]

In [188]:
def differ(x,y):
    return x.ne(y).sum()

def distance(data):
    dist= pd.DataFrame(index=data.index, columns=np.arange(100))
    
    for row in range(len(data.index)):
        random= np.random.randint(100000,size=100)
        for other in range(len(random)):
        
            dist.iloc[row,other]=differ(data.iloc[row,:],data.iloc[other,:])
    
    return dist

In [49]:
train.iloc[0,4:].ne(train.iloc[1,4:]).sum()

12

In [181]:

r=np.random.randint(100000,size=10)

for i in range(len(r)):
    print(r[i])

87768
68014
20665
62538
78856
15902
35036
28978
92217
32379

In [198]:
sort=train.sort_values('nofGames', ascending=False).drop(['deck', 'nofGames', 'nOfPlayers', 'winRate'], axis=1).head(10)

sort

,archers,arrows,baby-dragon,balloon,bandit,barbarian-barrel,barbarian-hut,barbarians,bats,battle-ram,...,the-log,three-musketeers,tombstone,tornado,valkyrie,witch,wizard,x-bow,zap,zappies
ind,,,,,,,,,,,,,,,,,,,,,
67117,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
96911,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
53262,0,0,0,0,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,1,0
62986,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
44606,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
96972,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9101,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
41397,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
15151,0,1,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
34304,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [196]:
distances=distance(sort)

IndexError: single positional indexer is out-of-bounds

sortowane=distances.sum(axis=1).sort_values(ascending=False)

,nofGames,nOfPlayers,winRate,archers,arrows,baby-dragon,balloon,bandit,barbarian-barrel,barbarian-hut,...,the-log,three-musketeers,tombstone,tornado,valkyrie,witch,wizard,x-bow,zap,zappies
count,5.000,5.000000,5.000000,5.0,5.0,5.0,5.0,5.000000,5.0,5.0,...,5.000000,5.000000,5.0,5.0,5.0,5.0,5.0,5.0,5.000000,5.0
mean,586182.800,80298.200000,0.511464,0.0,0.0,0.0,0.0,0.200000,0.0,0.0,...,0.400000,0.400000,0.0,0.0,0.0,0.0,0.0,0.0,0.600000,0.0
std,234760.753,32012.152422,0.016269,0.0,0.0,0.0,0.0,0.447214,0.0,0.0,...,0.547723,0.547723,0.0,0.0,0.0,0.0,0.0,0.0,0.547723,0.0
min,286105.000,42580.000000,0.493050,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
25%,411205.000,59331.000000,0.494710,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
50%,654996.000,73773.000000,0.520190,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0
75%,710137.000,107071.000000,0.522110,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0
max,868471.000,118736.000000,0.527260,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,...,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0

In [ ]:
distances.to_csv()
sortowane.to_csv()

In [142]:
train.drop(['deck', 'nofGames', 'nOfPlayers', 'winRate'], axis=1).head()

,archers,arrows,baby-dragon,balloon,bandit,barbarian-barrel,barbarian-hut,barbarians,bats,battle-ram,...,the-log,three-musketeers,tombstone,tornado,valkyrie,witch,wizard,x-bow,zap,zappies
ind,,,,,,,,,,,,,,,,,,,,,
67117,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
96911,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
53262,0,0,0,0,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,1,0
62986,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
44606,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [83]:
type(train.iloc[:10,4:])

pandas.core.frame.DataFrame

In [152]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),columns=['a', 'b', 'c'])
df2
df2[1,2]=8
df2.iloc[1,2]=100
df2.sum(axis=1)

0     14
1    117
2     32
dtype: int64

In [111]:
dist= pd.DataFrame(index=np.arange(10), columns=np.arange(10))

dist

     0    1    2    3    4    5    6    7    8    9
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [106]:
dt=pd.DataFrame(columns=np.arange(10))

In [107]:
dt

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Index: []

In [120]:
dist.iloc[1,2]=differ(train.iloc[1,4:],train.iloc[2,4:])
dist

     0    1    2    3    4    5    6    7    8    9
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN   14  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [119]:
  dist= pd.DataFrame(index=data.index, columns=np.arange(len(data)))
    for row in data:
        for other in data:
            dist.iloc[row,other]=differ(data.iloc[row,4:],data.iloc[other,4:])

14

In [133]:
dane=train.iloc[:10,4:]
cnt=0
for row in range(len(dane.index)):
    print (row)
    cnt+=1
cnt

0
1
2
3
4
5
6
7
8
9

10